
# Blacklist everything
/*

# Whitelist directory
!/lib
!/assets
!/config

# Whitelist files
!.gitignore
!README.md
!LICENSE.md

# Blacklist secret values
/lib/firebase_options.dart
/lib/firebase_options_dev.dart
/lib/firebase_options_prod.dart
/lib/secret.dart

